<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div id="container">
  <div class="box">
    <div class="box-body">
        
      <div class="col-lg-12">
        <div class="col-lg-12">
          <h2 align="center">Search Doctor Based on City & Name</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <select name="cities" id="cities_name" class="form-control">
            <option selected="selected" disabled>Select City</option>
            <% @city_name.each do |x| %>
              <option value="<%= x %>"><%= x %></option>
            <% end %>
          </select>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
          <input class="form-control" type="text" id="doc_name_auto" name="doc_name" placeholder="Enter Doctor Name">          
        </div>

        
        <div class="col-lg-4 col-md-4 col-sm-4">
          <button type="submit" id="doc_search_submit" class="btn btn-primary text-lg form-control"><span><b>Search</b></span></button>
        </div>
      </div>

      <div id="doc_result"></div>
    </div>
  </div>
</div>




<script>
  $('#doc_name_auto').typeahead({
    source: <%= raw(@doc_name) %> 
  });


  $('#doc_search_submit').on('click', function(){
    city_name = $('#cities_name :selected').text();
    doc_name = $('#doc_name_auto').val();

    if(doc_name.length <= 0 || city_name == 'Select City'){
      $('#doc_name_auto').focus();
    }else{
      $.ajax({
        type     : "GET",
        dataType : 'json',
        cache    : false,
        url      : '/doctors/get_doc_list?doc_name='+doc_name+'&city='+city_name,
        async    : false,
        success  : function(data) {
          $('#doc_result').empty();
          $.each(data, function (key,value) {
            var tbl = ''

            console.log(value);

            tbl+='<div class="row">'
              tbl+='<div class="col-lg-12 doc_list_box">'
                tbl+='<div class="col-lg-2">'
                  tbl+='<img src="'+value.image_url+'" height="100" width="100">'
                tbl+='</div>'
                tbl+='<div class="col-lg-10">'
                  tbl+='<div class="col-lg-2"><b>Doctor Name :</b></div>'
                  tbl+='<div class="col-lg-2">Dr. '+value.name+'</div>'
                  tbl+='<div class="col-lg-2"><b>Race :</b></div>'
                  tbl+='<div class="col-lg-2">'+value.race+'</div>'
                  tbl+='<div class="col-lg-2"><b>Gender :</b></div>'
                  tbl+='<div class="col-lg-2">'+value.gender+'</div>'
                tbl+='</div>'
                tbl+='<div class="col-lg-10">'
                  tbl+='<div class="col-lg-2"><b>DOB :</b></div>'
                  tbl+='<div class="col-lg-2">'+value.dob+'</div>'
                  tbl+='<div class="col-lg-2"><b>Mobile No. :</b></div>'
                  tbl+='<div class="col-lg-2">'+value.mobile_no+'</div>'
                  tbl+='<div class="col-lg-2"><b>City :</b></div>'
                  tbl+='<div class="col-lg-2">'+value.city+'</div>'
                tbl+='</div>'
              tbl+='</div>'
            tbl+='</div>'
            
            $('#doc_result').append(tbl);
          })
        }
      });
    }
  });
  
</script>

<style>
  .doc_list_box{
    padding: 25px;
  }
  #container{
    padding: 50px;
  }
</style>